@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
}

* {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

body {
    background-color: #242729;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    justify-content: center;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(198,198,198,0.2);
    border-radius: 15px;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(198,198,198,1);
}

#titleChap {
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
    margin: 20px 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#nameNovel {
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px orange;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#contentDiv {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#content {
    color: white;
    font-size: 1.2rem;
    white-space: pre-line;
    font-family: 'Lora', serif !important;
    margin-bottom: 30px;
    width: 100%;
}

.MoveButton {
    width: 100vw;
    display: flex;
}

.MoveChap {
    background-color: #29b6f6;
    color: white;
    border: none;
    width: 40%;
    overflow-x: hidden;
    border-radius: 10px;
    min-height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    padding: 10px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.ChapPre {
    margin-right: 10px;
}

.BlockMove {
    background-color: #ccc;
    color: black;
}

#countWord {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
}

#chooseChap {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
  /* Remove IE arrow */
#chooseChap::-ms-expand {
    display: none;
}
  /* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0 20px;
}
  /* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
    color: whitesmoke;
}
  /* Transition */
.select:hover::after {
    color: #f39c12;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dashed-loading {
    position: relative;
    height: 20vw;
    transform: translateX(-10vw);
}
.dashed-loading:after,
.dashed-loading:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
}
    .dashed-loading:before {
    z-index: 5;
    border: 3px dashed var(--blue);
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-animation: dashed 1s linear infinite;
    animation: dashed 1s linear infinite;
}
.dashed-loading:after {
    z-index: 10;
    border: 3px solid var(--blue);
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-animation: dashed 1s ease infinite;
    animation: dashed 1s ease infinite;
}
@keyframes dashed {
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 750px) {
    #titleChap {
        font-size: 1.6rem;
    }

    #content {
        margin: 0;
        margin-bottom: 15px;
        font-size: 1.1rem;
    }
    #contentDiv {
        width: 92vw;
        position: relative;
        transform: translateX(0);
        left: 0;
    }
    .dashed-loading {

        transform: translateX(-15vw);
    }
}